.img-border{
	display:inline;
}

.Hot{
	border:2px dashed red;
}
.Promo{
	border:2px dashed purple;
}
.New{
	border:2px dashed green;
}

.img-special{
	display:inline;
	padding:5px 5px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	font-family:"Marcellus SC", serif;
	box-shadow: 0 0 6px;
	margin-left:5px;
	color:#fff;
}

.img-special.special-Hot{
	background:red;
}
.img-special.special-Promo{
	background:purple;
}
.img-special.special-New{
	background:green;
}