html,body,.view {
	height: 100%;
}
.view {
	background: url("../bondage-games-1920x1080.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
ul.black_base{
	list-style-type: none;
}