/* 
	Title: Classic Theme Design
	Author: Ash Artanis
	Rel: Offsets
	Date: 12.21.2016
*/
.offset1 {margin-left: 100px !important;}
.offset2 {margin-left: 180px !important;}
.offset3 {margin-left: 260px !important;}
.offset4 {margin-left: 340px !important;}
.offset5 {margin-left: 420px !important;}
.offset6 {margin-left: 500px !important;}
.offset7 {margin-left: 580px !important;}
.offset8 {margin-left: 660px !important;}
.offset9 {margin-left: 740px !important;}
.offset10 {margin-left: 820px !important;}
.offset11 {margin-left: 900px !important;}
.offset12 {margin-left: 980px !important;}